[submodule "vscode"]
	path = vscode
	url = https://github.com/2441630833/Mobius-vscode.git
	branch = main
[submodule "continue"]
	path = continue
	url = https://github.com/2441630833/Mobius-continue.git
	branch = main
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
	branch = main
